.play-button{
    background-color: 	#bd83a9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.play-button:hover{
    background-color: #c8a2c8;
}

